@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Noto+Sans+JP:100,200,300,400,500,600,700&display=swap');

body {
    padding: 0px;
    background-color: #f0f1eb;
}

a {
    margin: 0 !important;
}

a:hover {
    text-decoration: none !important;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* ------ General ------ */



/* ------ Materialize ------ */

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.collapsible .collection {
  margin: 0;
  border: none;
}

.collapsible span.badge {
  margin-left: auto;
}

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 0 1rem 0;
}

.sidenav .collapsible {
  margin: 0;
}

.collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.collapsible-header:focus {
  outline: 0;
}

.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}

.keyboard-focused .collapsible-header:focus {
  background-color: #eee;
}

.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
}

.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}

.collapsible.popout {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.collapsible.popout > li {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 24px;
  -webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsible.popout > li.active {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 16px 0;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.sidenav .collapsible-body {
  padding: 0;
}

.breadcrumb i,
.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
.breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px;
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}

nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}

.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}



/* ------ Font Awesome ------ */

.fab {
    color: #7b7b7b;
}

.fa-tags {
    text-align: center;
}

/* ------ Boostrap ------ */



/* ------ Header ------ */

.header-content {
    padding-left: 0 !important;
    background-color: #333;
    text-align: center;
}

/* ------ Headings ------ */

.latest-recipes-heading {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
}

.cooking-knowledge-heading {
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ------ Recipe of The Month ------ */

@media screen and (max-width: 992px) {

.monthly-recipe-description {
    padding-top: 0px !important;
    padding-bottom: 15px !important;
    text-align: left;
}
}

.monthly-recipe-image {
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
    border-radius: 50%;
}

.monthly-recipe-image-src {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.monthly-recipe-heading {
    text-align: left;
    padding-bottom: 5px;
}

.recipe-name {
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.monthly-recipe-description {
    padding-top: 125px;
    padding-bottom: 100px;
    text-align: left;
}

/* ------ Navigation ------ */

button[type="submit"] {
    margin: 0px !important;
    color: #fafafa;
    background-color: #08d10c !important;
}

.btn-outline-success {
    color: #28a745;
    border-color: #08d10c !important;
}

button[type="submit"]:hover {
    color: #fafafa;
    background-color: #00ad4b !important;
}

.menu-item {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.menu-item:hover {
    color: #bcbcc2;
}

.nav-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .header-name {
        padding-bottom: 10px;
        margin: 0;
    }

    .navbar-expand-sm {
        text-align: center;
        padding: 5px;
        margin: 0;
    }

    .ml-auto-mobile {
        margin: 0;
    }

    .nav-menu {
        padding-top: 5px;
        padding-bottom: 0px;
        margin: 0;
    }

}

@media screen and (max-width: 720px) {
    .website-logo {
        text-align: center;
    }
}

/* ------ Cooking Knowledge ------ */

.cooking-knowledge-section {
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
}

/* ------ Slideshow - Assisted by W3 Schools ------ */

.image-text-position {
    position: relative;
    font-family: Arial;
}

.image-text {
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.slides-margin {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.slide-opacity,
.slide-hover-opacity:hover {
    opacity: 0.60;
}

.slide-opacity-off,
.slide-hover-opacity-off:hover {
    opacity: 1;
}

@media screen and (max-width: 470px) {
    .image-text {
        opacity: 0.7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        font-size: 8px !important;
    }

    h5 {
        font-size: 14px !important;
    }
}

/* ------ Footer ------ */

@media screen and (max-width: 992px) {
.footer-mobile {
    height: 50px;
    background-color: #2e2e2e !important;
    text-align: center;
}

.contact-footer {
    text-align: center !important;
}

.download-section {
    padding-left: 15px;
    text-align: center !important;
}

}

.footer-padding {
    padding-top: 20px;
}

.social-media-footer {
    text-align: center;
    padding-top: 15px;
}

.download-section {
    padding-left: 15px;
    text-align: left;
}

.jb-cookbook {
    text-align: center;
    color: #fff;
}

.contact-footer {
    text-decoration: none;
    text-align: right;
    padding-right: 15px;
    color: #fff;
}

/* ------ Footer / Social Media ------ */

.facebook-footer i {
    font-size: 33px;
}

.twitter-footer i {
    font-size: 33px;
}

.instagram-footer i {
    font-size: 33px;
}

.pinterest-footer i {
    font-size: 33px;
}

/* ------ Contact ------ */

.btn-secondary {
    background-color: #7cc2fd !important;
}

.center-form {
    text-align: center;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

.contact {
    padding-top: 15px;
    background-color: #fff;
    height: 380px;
    color: #424242;
}

.contact div h3 {
    text-align: center;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.contact-h6 {
    color: #595959;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}