<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Jack</title>
</head>
<body>

    <header class="container-fluid">
        <div class="row">
            <div class="col-md-5 header-content">
                <a href="#" class="navbar-brand website-logo" target="_blank"><img alt="Jack Bennett Holidays Logo" class="website-logo" style="padding-left: 15px;" src="assets/images/jb-holidays-logo.png"></a>
            </div>
            
        </div>
    </header>

</body>
</html>