{% extends 'base.html' %} {% block content %}

<section>
	<div style="margin-right: 0 !important;" class="row">
		<div style="padding-right: 0px !important;" class="col-12">
			<p class="partners-heading">CHECK OUT SOME COOKING TIPS FROM OUR PARTNERS</p>
		</div>
	</div>
</section>

<section style="background-color: #f4f5f0 !important;" class="container-fluid">
	<div class="container row cooking-knowledge-heading-container">
		<div class="col-12">
			<h3 class="cooking-knowledge-heading">EXPANDING YOUR COOKING KNOWLEDGE</h3>
			<hr style="padding-bottom: 8px;">
		</div>
	</div>
	<div style="text-align: center;" class="container-fluid row cooking-knowledge-section">
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/6-delicious-ways-to-use-up-overripe-bananas-223860" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/overripe_bananas.jpg" alt="Overripe Bananas">
				<h5>The 6 Most Delicious Ways to Use Up Overripe Bananas</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/testing-sourdough-starter-for-baking-23020669" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/sourdough_starter.jpg" alt="Sourdough Starter">
				<h5>How to Know if Your Sourdough Starter Is Ready for Bread Baking</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/cake-tips-food-stylist-23016610" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/beautiful_cake.jpg" alt="Chocolate Cake">
				<h5>6 Food-Stylist Tips to Make a More Beautiful Cake</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/whats-the-difference-between-active-dry-yeast-and-instant-yeast-54252"
				target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/yeast.jpg" alt="Yeast">
				<h5>What’s the Difference Between Active Dry Yeast and Instant Yeast?</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/easiest-marinade-frozen-meat-23005063" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/defrosted_meat.jpg" alt="Defrosted Meat">
				<h5>The One Ingredient That Makes Defrosted Meat Taste So Much Better</h5>
			</a>
		</div>
		<div class="container row cooking-knowledge-heading-container">
			<div class="col-12">
				<a style="color: #333;" href="https://www.thekitchn.com/skills" target="_blank">
					<h4 class="cooking-tips-heading">VIEW ALL OTHER COOKING TIPS ></h4>
				</a>
			</div>
		</div>
</section>

<section class="container-fluid">
	<div class="container row recipes-heading-container">
		<div class="col-12">
			<h3 class="recipes-heading">TIPS FOR THE KITCHEN</h3>
		</div>
	</div>
	<hr class="recipes-blog-hr">
	<div style="text-align: center;" class="container-fluid row cooking-knowledge-section">
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/organizing-tricks-that-dont-cost-money-23017717" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/organise_kitchen.jpg" alt="Organise Your Kitchen">
				<h5>9 Ways to Add Organization to Your Kitchen</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/things-stop-storing-fridge-23004435" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/stop_storing_fridge.jpg" alt="Inside a Fridge">
				<h5>3 Things You Should Stop Storing in the Fridge</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/kitchen-decluttering-tape-trick-23012562" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/declutter_kitchen.jpg" alt="Messy Kitchen">
				<h5>A Brilliant Way to Declutter Your Kitchen</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/galley-kitchen-organizing-ideas-23003926" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/galley_kitchen.jpg" alt="Galley Kitchen">
				<h5>7 Organizing Ideas to Steal from Galley Kitchens</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/bestselling-kitchen-organizers-amazon-23002821" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/best_selling_books.jpg" alt="Bestlling Amazon Books">
				<h5>10 of Amazon’s Bestselling Kitchen Organizers</h5>
			</a>
		</div>
	</div>
	<div class="container row cooking-knowledge-heading-container">
		<div class="col-12">
			<a style="color: #333;" href="https://www.thekitchn.com/collection/organizing-tips" target="_blank">
				<h4 class="cooking-tips-heading">VIEW OTHER KITCHEN TIPS ></h3>
			</a>
		</div>
	</div>
</section>

{% endblock %}