{% extends 'base.html' %} {% block content %}

<!-- Slideshow Assisted by W3 Schools / START -->
<section class="container-fluid">
        <div class="row slides-margin" style="max-width:1200px; text-align: center;">
            <a href="travel-packages.html"><img alt="Selected Travel Package" class="slideshow" src="static/images/teal-icing-cupcake-recipe.jpg" style="width:100%;display:none">
            <img alt="Selected Travel Package" class="slideshow" src="static/images/belgian-waffles.jpg" style="width:100%"></a>
        </div>
        <div class="row" style="max-width:1200px">
            <div class="image-text-position col-6">
                <img alt="Italy Holiday Packages" class="slide slide-opacity slide-hover-opacity-off" src="static/images/teal-icing-cupcake-recipe.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
                <div class="image-text">
                    <h5 class="image-text-size">Italy</h5>
                </div>
            </div>
            <div class="image-text-position col-6">
                <img alt="France Holiday Packages" class="slide slide-opacity slide-hover-opacity-off" src="static/images/belgian-waffles.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
                <div class="image-text">
                    <h5>France</h5>
                </div>
            </div>
        </div>
</section>

<!-- Slideshow Assisted by W3 Schools / END -->

{% endblock %}