{% extends 'base.html' %} {% block content %}

<section>
	<div class="row">
		<div class="col-12">
			<a href="https://www.food.com/recipe/beths-melt-in-your-mouth-barbecue-ribs-oven-107786"
				target="_blank"><img class="front-hero" src="static/images/xl-bbq-ribs.jpg" alt="BBQ Ribs"></a>
		</div>
	</div>
	<div class="row">
		<div style="padding: 0px !important;" class="col-xl-7">
			<a style="color: #212529;"
				href="https://www.food.com/recipe/beths-melt-in-your-mouth-barbecue-ribs-oven-107786" target="_blank">
				<p class="hero-text recipe-of-the-month">RECIPE OF THE MONTH - Melt in Your Mouth BBQ Ribs!</p>
			</a>
		</div>
		<div style="padding: 0px !important;" class="col-xl-5">
			<a style="color: #212529;"
				href="https://www.food.com/recipe/beths-melt-in-your-mouth-barbecue-ribs-oven-107786" target="_blank">
				<p style="text-align: right;" class="hero-text">New Recipe in <span style="padding-left: 5px; padding-right: 10px;" class="hero-text" id="countdown-timer"></span></p>
			</a>
		</div>

	</div>
</section>

<section style="background-color: #f4f5f0 !important;" class="container-fluid">
	<div class="container row cooking-knowledge-heading-container">
		<div class="col-12">
			<h3 class="cooking-knowledge-heading">EXPANDING YOUR COOKING KNOWLEDGE</h3>
			<hr style="padding-bottom: 8px;">
		</div>
	</div>
	<div style="text-align: center;" class="container-fluid row cooking-knowledge-section">
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/6-delicious-ways-to-use-up-overripe-bananas-223860" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/overripe_bananas.jpg" alt="Overripe Bananas">
				<h5>The 6 Most Delicious Ways to Use Up Overripe Bananas</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/testing-sourdough-starter-for-baking-23020669" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/sourdough_starter.jpg" alt="Sopurdough Starter">
				<h5>How to Know if Your Sourdough Starter Is Ready for Bread Baking</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/cake-tips-food-stylist-23016610" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/beautiful_cake.jpg" alt="Chocolate Cake">
				<h5>6 Food-Stylist Tips to Make a More Beautiful Cake</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/whats-the-difference-between-active-dry-yeast-and-instant-yeast-54252"
				target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/yeast.jpg" alt="Yeast">
				<h5>What’s the Difference Between Active Dry Yeast and Instant Yeast?</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/easiest-marinade-frozen-meat-23005063" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/defrosted_meat.jpg" alt="Defrosted Meat">
				<h5>The One Ingredient That Makes Defrosted Meat Taste So Much Better</h5>
			</a>
		</div>
		<div class="container row cooking-knowledge-heading-container">
			<div class="col-12">
				<a style="color: #333;" href="https://www.thekitchn.com/skills" target="_blank">
					<h4 class="cooking-tips-heading">VIEW ALL OTHER COOKING TIPS ></h4>
				</a>
			</div>
		</div>
</section>

<section style="background-color: #fff !important;" class="container-fluid">
	<div class="container row cooking-knowledge-heading-container">
		<div class="col-12">
			<h3 class="cooking-knowledge-heading">TRY A NEW RECIPE TODAY</h3>
			<hr style="padding-bottom: 8px;">
		</div>
	</div>
	<div style="text-align: center;" class="container-fluid row cooking-knowledge-section">
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.food.com/recipe/best-banana-bread-2886" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/banana_bread.jpg" alt="Banana Bread">
				<h5>Best Banana Bread</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.food.com/recipe/creamy-garlic-penne-pasta-43023" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/garlic_pasta.jpg" alt="Garlic Pasta">
				<h5>Creamy Garlic Penne Pasta</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.food.com/recipe/bourbon-chicken-45809" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/bourbon_chicken.jpg" alt="Bourbon Chicken">
				<h5>Bourbon Chicken</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.food.com/recipe/oatmeal-raisin-cookies-35813" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/raisin_cookies.jpg" alt="Oatmeal Raisin Cookies">
				<h5>Oatmeal Raisin Cookies</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.food.com/recipe/creamy-cajun-chicken-pasta-39087" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/chicken_pasta.jpg" alt="Chicken Pasta">
				<h5>Creamy Cajun Chicken Pasta</h5>
			</a>
		</div>
		<div class="container row cooking-knowledge-heading-container">
			<div class="col-12">
				<a class="effect-underline" style="color: #333;" href="https://www.food.com/recipe?ref=nav" target="_blank">
					<h4 class="cooking-tips-heading">VIEW OTHER POPULAR RECIPES ></h4>
				</a>
			</div>
		</div>
</section>

<section style="background-color: #f4f5f0 !important;">
	<div class="row">
		<div class="col-12">
			<a style="color: #333;" href="http://eepurl.com/gY3ihr" target="_blank">
				<p class="email-signup">Want to keep up to date with the latest recipes? Sign up to our newsletter
					today!</p>
			</a>
		</div>
	</div>
</section>

{% endblock %}