{% extends 'base.html' %} {% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12 col-lg-6 monthly-recipe-image">
                <img class="personal-image-src" src="assets/images/personal-image.jpg"></img>
            </div>
            <div class="col-12 col-lg-6 personal-bio">
                <h2 class="about-me-heading">Recipe of The Month!</h2>
                <hr>
                <h5 class="job-title">Recipe Name</h5>
                <span>Recipe description.</span>
            </div>
        </div>
    </section>

<!-- Slideshow Assisted by W3 Schools / START -->
<section class="container">
	<div class="row slides-margin" style="max-width:1200px">
		<a href="travel-packages.html"><img alt="Selected Recipe" class="slideshow" src="static/images/belgian-waffles.jpg" style="width:100%;display:none">
			<img alt="Selected Recipe" class="slideshow" src="static/images/belgian-waffles.jpg" style="width:100%;display:none">
			<img alt="Selected Recipe" class="slideshow" src="static/images/teal-icing-cupcake-recipe.jpg" style="width:100%">
            </a>
	</div>
	<div class="row" style="max-width:1200px">
		<div class="image-text-position col-4">
			<img alt="Belgian Waffles" class="slide slide-opacity slide-hover-opacity-off" src="static/images/belgian-waffles.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
			<div class="image-text">
				<h5 class="image-text-size">Belgian Waffles</h5>
			</div>
		</div>
		<div class="image-text-position col-4">
			<img alt="Teal Iced Cupcakes" class="slide slide-opacity slide-hover-opacity-off" src="static/images/teal-icing-cupcake-recipe.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
			<div class="image-text">
				<h5>Teal Iced Cupcakes</h5>
			</div>
		</div>
		<div class="image-text-position col-4">
			<img alt="France Holiday Packages" class="slide slide-opacity slide-hover-opacity-off" src="static/images/teal-icing-cupcake-recipe.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
			<div class="image-text">
				<h5>Teal Iced Cupcakes</h5>
			</div>
		</div>
	</div>
    	<div class="row">
		<div class="col-12">
        <h3 class="latest-recipes-heading">Check out the latest recipes!</h3>
		</div>
	</div>
</section>
<!-- Slideshow Assisted by W3 Schools / END -->

{% endblock %}