{% extends 'base.html' %} {% block content %}

<section>
	<div style="margin-right: 0 !important;" class="row">
		<div style="padding-right: 0px !important;" class="col-12">
			<p class="partners-heading">CHECK OUT SOME RECIPES FROM OUR PARTNERS</p>
		</div>
	</div>
</section>

<!-- Search Bar Assisted by W3 Schools / START -->

<section class="container search-bar-container">
	<button onclick="searchBarFunction()" class="dropbtn">Search for your next recipe here...</button>
	<div style="text-align: center !important; width: 100%" id="searchBarDropdown" class="dropdown-content">
		<input style="padding-left: 20px;width: 100%;text-align: center;" type="text" placeholder="Search.." id="searchBarInput" onkeyup="filterFunction()">
		<a href="https://www.deliciousmagazine.co.uk/recipes/aubergine-and-tofu-curry/" target="_blank">Aubergine and Tofu Curry</a>
		<a href="https://www.deliciousmagazine.co.uk/recipes/baked-falafel-tomato-sauce/" target="_blank">Baked Falafel in Tomato Sauce</a>
		<a href="https://www.food.com/recipe/best-banana-bread-2886" target="_blank">Best Banana Bread</a>
		<a href="https://www.food.com/recipe/bourbon-chicken-45809" target="_blank">Bourbon Chicken</a>
		<a href="https://www.deliciousmagazine.co.uk/recipes/butterbean-and-vegetable-stew/" target="_blank">Butterbean and Vegetable Stew</a>
		<a href="https://www.deliciousmagazine.co.uk/recipes/cheesy-baked-bagel-pudding/" target="_blank">Cheesy Baked Bagel Pudding</a>
		<a href="https://www.food.com/recipe/creamy-cajun-chicken-pasta-39087" target="_blank">Creamy Cajun Chicken Pasta</a>
		<a href="https://www.food.com/recipe/creamy-garlic-penne-pasta-43023" target="_blank">Creamy Garlic Penne Pasta</a>
		<a href="https://www.deliciousmagazine.co.uk/recipes/sticky-salted-caramel-apples/" target="_blank">Sticky Salted Caramel Apples</a>
		<a href="https://www.food.com/recipe/oatmeal-raisin-cookies-35813" target="_blank">Oatmeal Raisin Cookies</a>
	</div>
</section>

<!-- Search Bar Assisted by W3 Schools / END -->

<section style="background-color: #f4f5f0 !important;" class="container-fluid">
	<div class="container row recipes-heading-container">
		<div class="col-12">
			<h3 class="recipes-heading">RECIPES IN DEMAND</h3>
		</div>
	</div>
	<hr class="recipes-blog-hr">
	<div style="text-align: center;" class="container-fluid row cooking-knowledge-section">
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.food.com/recipe/best-banana-bread-2886" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/banana_bread.jpg') }}" alt="Banana Bread">
				<h5>Best Banana Bread</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.food.com/recipe/creamy-garlic-penne-pasta-43023" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/garlic_pasta.jpg') }}" alt="Garlic Pasta">
				<h5>Creamy Garlic Penne Pasta</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.food.com/recipe/bourbon-chicken-45809" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/bourbon_chicken.jpg') }}" alt="Bourbon Chicken">
				<h5>Bourbon Chicken</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.food.com/recipe/oatmeal-raisin-cookies-35813" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/raisin_cookies.jpg') }}" alt="Oatmeal Raisin Cookies">
				<h5>Oatmeal Raisin Cookies</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.food.com/recipe/creamy-cajun-chicken-pasta-39087" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/chicken_pasta.jpg') }}" alt="Chicken Pasta">
				<h5>Creamy Cajun Chicken Pasta</h5>
			</a>
		</div>
		<div class="container row cooking-knowledge-heading-container">
			<div class="col-12">
				<a class="effect-underline" style="color: #333;" href="https://www.food.com/recipe?ref=nav" target="_blank">
					<h4 class="cooking-tips-heading">VIEW OTHER POPULAR RECIPES ></h4>
				</a>
			</div>
		</div>
        </div>
</section>

<section class="container-fluid">
	<div class="container row recipes-heading-container">
		<div class="col-12">
			<h3 class="recipes-heading">VEGETARIAN RECIPES</h3>
		</div>
	</div>
	<hr class="recipes-blog-hr">
	<div style="text-align: center;" class="container-fluid row cooking-knowledge-section">
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.deliciousmagazine.co.uk/recipes/butterbean-and-vegetable-stew/" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/vegetable_stew.jpg') }}" alt="Vegetable Stew">
				<h5>Butterbean and Vegetable Stew</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.deliciousmagazine.co.uk/recipes/baked-falafel-tomato-sauce/" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/falafel.jpg') }}" alt="Baked Falafel">
				<h5>Baked Falafel in Tomato Sauce</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.deliciousmagazine.co.uk/recipes/aubergine-and-tofu-curry/" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/tofu_curry.jpg') }}" alt="Tofu Curry">
				<h5>Aubergine and Tofu Curry</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.deliciousmagazine.co.uk/recipes/cheesy-baked-bagel-pudding/" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/cheesy_bagel.jpg') }}" alt="Bagel Pudding">
				<h5>Cheesy Baked Bagel Pudding</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.deliciousmagazine.co.uk/recipes/sticky-salted-caramel-apples/" target="_blank">
				<img class="image red-image-border" src="{{ url_for('static', filename='images/caramel_apples.jpg') }}" alt="Caramel Apples">
				<h5>Sticky Salted Caramel Apples</h5>
			</a>
		</div>
	</div>
		<div class="container row cooking-knowledge-heading-container">
			<div class="col-12">
				<a class="effect-underline" style="color: #333;" href="https://www.deliciousmagazine.co.uk/dietary_requirements/vegetarian/" target="_blank">
					<h4 class="cooking-tips-heading">VIEW OTHER VEGETARIAN RECIPES ></h4>
				</a>
			</div>
		</div>
</section>

{% endblock %}