{% extends 'base.html' %} {% block content %}

<section>
	<div style="margin-right: 0 !important;" class="row">
		<div style="padding-right: 0px !important;" class="col-12">
			<p class="partner-recipes-heading">CHECK OUT SOME RECIPES FROM OUR PARTNERS</p>
		</div>
	</div>
</section>

<section style="padding-top: 15px; text-align: center;" class="container">
	<button onclick="searchBarFunction()" class="dropbtn">Search for your next holiday here...</button>
	<div style="text-align: center !important; width: 100%" id="searchBarDropdown" class="dropdown-content">
		<input style="padding-left: 20px;width: 100%;text-align: center;" type="text" placeholder="Search.." id="searchBarInput" onkeyup="filterFunction()">
		<a href="https://www.tripmasters.com/europe/Find_Package_to_Amsterdam.aspx">Amsterdam</a>
		<a href="https://www.tripmasters.com/europe/Find_Package_to_Barcelona.aspx">Barcelona</a>
		<a href="https://www.tripmasters.com/asia/Find_Package_to_Bangkok.aspx">Bangkok</a>
		<a href="https://www.tripmasters.com/europe/Find_Package_to_Dublin.aspx">Dublin</a>
		<a href="https://www.tripmasters.com/asia/Find_Package_to_Dubai.aspx">Dubai</a>
		<a href="https://www.tripmasters.com/europe/Find_Package_to_Lisbon.aspx">Lisbon</a>
		<a href="https://www.tripmasters.com/europe/Find_Package_to_Madrid.aspx">Madrid</a>
		<a href="https://www.tripmasters.com/europe/Find_Package_to_Paris.aspx">Paris</a>
		<a href="https://www.tripmasters.com/europe/Find_Package_to_Rome.aspx">Rome</a>
		<a href="https://www.tripmasters.com/asia/Find_Package_to_Sydney.aspx">Sydney</a>
	</div>
</section>

<section style="background-color: #f4f5f0 !important;" class="container-fluid">
	<div class="container row recipes-heading-container">
		<div class="col-12">
			<h3 class="recipes-heading">RECIPES IN DEMAND</h3>
		</div>
	</div>
	<hr class="recipes-blog-hr">
	<div style="text-align: center;" class="container-fluid row cooking-knowledge-section">
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/pantry-ingredient-crispy-chicken-23002804" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/fried_chicken.jpg" alt="">
				<h5>Recipe 1</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/coronavirus-cook-for-others-23019599" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/cook-for-family.jpg" alt="">
				<h5>Recipe 2</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/what-to-do-right-after-bringing-fresh-berries-home-23015556"
				target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/strawberries.jpg" alt="">
				<h5>Recipe 3</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/what-to-do-right-after-bringing-fresh-berries-home-23015556"
				target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/strawberries.jpg" alt="">
				<h5>Recipe 4</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/what-to-do-right-after-bringing-fresh-berries-home-23015556"
				target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/strawberries.jpg" alt="">
				<h5>Recipe 5</h5>
			</a>
		</div>
	</div>
	<div class="container row cooking-knowledge-heading-container">
		<div class="col-12">
			<h4 class="cooking-tips-heading">VIEW OTHER POPULAR RECIPES ></h3>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="container row recipes-heading-container">
		<div class="col-12">
			<h3 class="recipes-heading">VEGETARIAN RECIPES</h3>
		</div>
	</div>
	<hr class="recipes-blog-hr">
	<div style="text-align: center;" class="container-fluid row cooking-knowledge-section">
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/pantry-ingredient-crispy-chicken-23002804" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/fried_chicken.jpg" alt="">
				<h5>Recipe 6</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/coronavirus-cook-for-others-23019599" target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/cook-for-family.jpg" alt="">
				<h5>Recipe 7</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-4 col-sm-12">
			<a href="https://www.thekitchn.com/what-to-do-right-after-bringing-fresh-berries-home-23015556"
				target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/strawberries.jpg" alt="">
				<h5>Recipe 8</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/what-to-do-right-after-bringing-fresh-berries-home-23015556"
				target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/strawberries.jpg" alt="">
				<h5>Recipe 9</h5>
			</a>
		</div>
		<div class="image-contain col-lg-2 col-xs-6 col-sm-12">
			<a href="https://www.thekitchn.com/what-to-do-right-after-bringing-fresh-berries-home-23015556"
				target="_blank">
				<img class="image" style="border-bottom: 7px solid #94283e;" src="static/images/strawberries.jpg" alt="">
				<h5>Recipe 10</h5>
			</a>
		</div>
	</div>
	<div class="container row cooking-knowledge-heading-container">
		<div class="col-12">
			<h4 class="cooking-tips-heading">VIEW OTHER VEGETARIAN RECIPES ></h3>
		</div>
	</div>
</section>

{% endblock %}